* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-img {
  background: 
  radial-gradient(circle farthest-corner at 75% 0%, #90C92A 0%, #90C92A 45%, #62C30F 45%);
  height: 700px;
  z-index:-1;
}

.fa-heart {
  transform: rotate(0deg);
  animation-name: heartbeat;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes heartbeat{
0% {
  transform: scale(1) rotate(0deg);
}
 50% {
  transform: scale(0.6) rotate(0deg);
}
}

.border-round {
  background-color: #8ED455;
}

nav a {
  font-size: 20px;
  text-decoration: none;
}

.header-button {
  height: 50px;
  background: #D8055A;
}

.flower-vase {
  position: absolute;
 right: 100px;
}

.header-text {
  margin-top: 130px;
}

.header-phone {
  margin-top: 200px;
  font-size: 20px;
}